<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Estaciones
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar #searchbar placeholder="Buscar estación" (ionInput)="getStations($event)"
      (ionClear)="resetStation()">
    </ion-searchbar>
  </ion-toolbar>
  <!-- <ion-searchbar #searchbar placeholder="Buscar estación" (ionInput)="getStations($event)"
      (ionClear)="resetStation()"></ion-searchbar>
  </ion-toolbar> -->
</ion-header>


<ion-content padding color="secondary">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let station of stations" [routerLink]="['/station-details/', station.id]"
      routerDirection="forward">
      {{station.name}}
      <div class="item-note" slot="end">
        {{station.free_bikes}}
      </div>
    </ion-item>
  </ion-list>
</ion-content>