<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      BikeStation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-card class="welcome-card" color="light">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Creado por Antonio Borga y Francisco Javier</ion-card-subtitle>
      <ion-card-title>Introducción</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Esta app le ayuda a conocer el estado de las paradas del servicio de transporte en bicicleta de Sevilla.</p>
      <p>En el menú lateral encontrará el listado de estaciones.</p>
    </ion-card-content>
  </ion-card>
</ion-content>